body{
	/*margin: 0;*/
	margin: 40px 30px 20px 10px;
	background-color: #000000;
}


.maintext{
	background-color: grey;
	color: red;
	text-align: center;
	padding: 10px;
    font-size: 40px;
}
.mainblock{
	background-color: red;
	text-align: center;
	color: white;
	font-size: 80px
	padding: 20px;

}
.foot{
	background-color: white;
	border-color: red;
	color: red;
	font-size: 28px;
	padding: 30px;
	text-decoration: underline;
}